.footerBlock {
    height: 30vh;
    background-color: darksalmon;
}

.title {

}

.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.copyright {

}
