.projectsBlock {
    background-color: chocolate;
    min-height: 100vh;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projects {
    width: 80%;
    border: 1px solid #cdc030;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}